version: "3.9"

services:
  upgraded-journey-app-main:
    image: vicmrp/mixedenergy-app-main:nodejs22-1.1.0
    user: node
    command: sleep infinity
    stdin_open: true
    tty: true
    ports:
      - "3000:3000"
      - "9229:9229"
      - "9230:9230"
    volumes:
      - ..:/usr/src/project


